<form action="/add-user" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" id="First Name" name="First Name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Last Name</label>
      <input type="last name" class="form-control" id="Last Name" name="Last Name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>